html, body {
    font-family: 'Times New Roman', Times, serif;
}


body {
    background: url('/Imagenes/Arajet.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.btn {
    width: auto;
    padding: px;
    background-color: #8e44ad;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    margin-bottom: 10px;
}


    .btn:hover {
        background-color: #9b59b6;
    }

.card {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    min-height: 400px;
    width: 150%;
    max-width: 600px;
}

.card-body {
    padding: 2rem;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.7);
}

