
.card {
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-image {
    max-height: 5rem;
    opacity: 0.8; 
}

.row {
    margin-left: 2rem; 
}

.corner-logo {
    max-height: 3rem;
    margin-right: 10px;
}

.corner-label {
    font-size: 1rem;
    color: #333;
}