@page "/Origen/Create"
@inject OrigenService origenService
@inject NavigationManager navigation
@rendermode InteractiveServer
<link rel="stylesheet" href="/Style/OrigenCreate.css" />

<PageTitle>Crear vuelo de Origen</PageTitle>
<EditForm Model="Origen" OnValidSubmit="Crear" FormName="crearOrigenForm">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h1><strong>Crear Vuelo de Origen</strong></h1>
            </div>
            <div class="card-body">

                <label class="form-label" for="OrigenId"><strong>Origen ID:</strong></label>
                <InputNumber id="OrigenId" class="form-control" @bind-Value="Origen.OrigenId" readonly />

                <label class="form-label" for="origen"><strong>Origen del Vuelo</strong></label>
                <InputText id="origen" class="form-control" @bind-Value="Origen.origen"></InputText>
                <ValidationMessage For="@(()=> Origen.origen)"></ValidationMessage>

            </div>

            <div class="card-footer">
                <button type="button" class="bi bi-arrow-90deg-left" style="background-color: purple; color: white; border: none;" @onclick="Volver"> Volver</button>
                <button type="submit" class="bi bi-floppy-fill" style="background-color: purple; color: white; border: none;"> Guardar </button>
            </div>
        </div>
    </div>
</EditForm>

@code {

    
    public Origen Origen { get; set; } = new Origen();
    public List<Origen> origenList { get; set; } = new List<Origen>();
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        origenList = await origenService.Listar(c => c.OrigenId > 0);
    }

    public async Task Crear()
    {
        
           // Toast.Notify(new(ToastType.Success, "Hora Guardada", "Horario registrado correctamente"));
            await origenService.Guardar(Origen);
            Origen = new Origen();
            await Task.Delay(4000);
            navigation.NavigateTo("/Origen/Index");
        
    }

   
    public void Volver()
    {
        // Redirige a la página de reservas si el usuario presiona el botón "Volver"
        navigation.NavigateTo("/Origen/Index");
    }
}