@page "/Origen/Create"
@inject OrigenService origenService
@inject NavigationManager navigation
<link rel="stylesheet" href="/Style/OrigenCreate.css" />

<PageTitle>Crear vuelo de Origen</PageTitle>
<EditForm Model="Origen" OnValidSubmit="Crear" FormName="crearOrigenForm">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h1><strong>Crear Vuelo de Origen</strong></h1>
            </div>
            <div class="card-body">

                <label class="form-label" for="OrigenId"><strong>Origen ID:</strong></label>
                <InputNumber id="OrigenId" class="form-control" @bind-Value="Origen.OrigenId" readonly />

                <label class="form-label" for="Origen"><strong>Origen del Vuelo</strong></label>
                <InputText id="Origen" class="form-control" @bind-Value="Origen.origen"></InputText>
                <ValidationMessage For="@(() => Origen.origen)" />

            </div>

            <div class="card-footer">
                <button type="button" class="bi bi-arrow-90deg-left" style="background-color: purple; color: white; border: none;" @onclick="Volver"> Volver</button>
                <button type="submit" class="bi bi-floppy-fill" style="background-color: purple; color: white; border: none;"> Guardar </button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public Origen Origen { get; set; } = new Origen();
    public string Mensaje { get; set; } = string.Empty;

    private async Task Crear()
    {
        if (string.IsNullOrWhiteSpace(Origen.origen))
        {
            Mensaje = "El origen es obligatorio.";
            return;
        }

        try
        {
            bool guardado = await origenService.Guardar(Origen);
            if (guardado)
            {
                Mensaje = string.Empty; // Limpia cualquier mensaje de validación
                navigation.NavigateTo("/Origen/Index"); // Redirige tras guardar exitosamente.
            }
            else
            {
                Mensaje = "No se pudo guardar el origen.";
            }
        }
        catch (Exception ex)
        {
            Mensaje = $"Error al guardar el origen: {ex.Message}";
        }
    }

    public void Volver()
    {
        navigation.NavigateTo("/Origen/Index");
    }
}
