@page "/Asiento/Confirmado"
@inject NavigationManager Navigation
<PageTitle>Pago Procesado</PageTitle>
<link rel="stylesheet" href="/Estilos/Create.css" />


<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5 class="card-title"><strong>Asiento Confirmado Correctamente</strong></h5>
        </div>
        <div class="card-body text-center">
            <p><strong>¡Gracias por su Seleccionar su Asiento!</strong></p>
            <p>Su Asiento se ha guardado correctamente. Puedes Seguir con su Reserva.</p>
        </div>
        <div class="card-footer text-center">
            <a href="/MenuPrincipal" class="btn btn-secondary text-white bi bi-arrow-90deg-left"> Volver</a>
        </div>
    </div>
</div>

@code {

}
