@page "/Accesibilidad/Index"
@rendermode InteractiveServer
@inject AccesibilidadService accesibilidadService
<link rel="stylesheet" href="/Style/AccesibilidadIndex.css" />

<PageTitle>Accesibilidad</PageTitle>
<div class="container">
    <div class="card shadow">
        <div class="card-header text-center">
            <h3><strong>Accesibilidades Para Pasajeros</strong></h3>
        </div>

        <!-- Contenedor de búsqueda y filtro -->
        <div class="card-body">
            <div class="search-bar-container">
                <!-- Filtro -->
                <div>
                    <label for="Filtro" class="form-label"><strong>Filtrar por</strong></label>
                    <InputSelect id="filtro" class="form-select" @bind-Value="filtro">
                        <option value="" disabled>Seleccionar</option>
                        <option value="AccesibilidadId">Reserva ID</option>
                        <option value="">Fecha</option>
                    </InputSelect>
                </div>

                <!-- Barra de búsqueda -->
                <div class="input-group">
                    <input @bind="ValorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-success" type="button">
                        <span class="bi bi-search"></span> Buscar
                    </button>
                </div>

                <!-- Botón de reserva -->
                <a href="/Accesibilidad/Create" class="btn btn-success bi bi-plus-square"> Crear</a>
            </div>
        </div>

        <!-- Tabla de accesibilidades -->
        <div class="table-responsive">
            <table class="table table-light table-bordered">
                <thead class="table table-striped text-center table-bordered mt-3">
                    <tr>
                        <th>Accesibilidad ID</th>
                        <th>Descripción</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var accesibilidad in accesibilidadList)
                    {
                        <tr>
                            <td class="text-center">@accesibilidad.AccesibilidadId</td>
                            <td class="text-center">@accesibilidad.Descripcion</td>
                            <td class="text-center">
                                <a href="/Accesibilidad/Edit/@accesibilidad.AccesibilidadId" class="btn btn-outline-warning bi bi-pencil-square"></a>
                            </td>
                            <td class="text-center">
                                <a href="/Accesibilidad/Delete/@accesibilidad.AccesibilidadId" class="btn btn-outline-danger bi bi-trash"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Pie de la tarjeta -->
        <div class="card-footer">
            <p><strong>Total de Accesibilidades: </strong>@accesibilidadList?.Count</p>
        </div>
    </div>
</div>

@code {
    Accesibilidad Accesibilidad { get; set; } = new Accesibilidad();
    List<Accesibilidad> accesibilidadList { get; set; } = new List<Accesibilidad>();
    public string filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        accesibilidadList = await accesibilidadService.Listar(o => o.AccesibilidadId > 0);
    }

    public void Buscar()
    {
        // Implementación de búsqueda
    }
}
