@page "/Pasaporte/Confirmado"
@inject NavigationManager Navigation
<PageTitle>Pasaporte Procesado</PageTitle>
<link rel="stylesheet" href="/Estilos/Create.css" />


<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5 class="card-title"><strong>Pasaporte Confirmado Correctamente</strong></h5>
        </div>
        <div class="card-body text-center">
            <p><strong>¡Gracias por Registrar su Pasaporte!</strong></p>
            <p>Su Pasaporte se ha guardado correctamente. Puedes Seguir con su Reserva.</p>
        </div>
        <div class="card-footer text-center">
            <a href="/Pago/Create" class="btn btn-secondary text-white bi bi-arrow-90deg-right"> Continuar</a>
        </div>
    </div>
</div>

@code {

}
