@page "/"

<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="/Estilos/Login.css" />
<link rel="stylesheet" href="/Estilos/Homes.css" />

<div class="row">
    <div class="card">
        <div class="card-body">
            <AuthorizeView>
                <NotAuthorized>
                    <div class="corner-container">
                        <img src="/Imagenes/Arajet_Logo.png" class="corner-logo" alt="Logo" />
                        <span class="corner-label">No est&aacute;s autenticado. Por favor, <a class="fw-bolder" href="/login">haz clic aqu&iacute;</a> para iniciar sesi&oacute;n.</span>
                    </div>
                </NotAuthorized>

                <Authorized>
                    @if (context.User.IsInRole("Admin"))
                    {
                        <div class="corner-container">
                            <img src="/Imagenes/Arajet_Logo.png" class="corner-logo" alt="Administrador" />
                            <span class="corner-label">Sesi&oacute;n iniciada como <b>@context.User.Identity.Name</b>. <a class="fw-bolder" href="/logout">Cerrar sesi&oacute;n</a></span>
                        </div>
                    }
                    else if (context.User.IsInRole("User"))
                    {
                        <div class="corner-container">
                            <img src="/Imagenes/Arajet_Logo.png" class="corner-logo" alt="Usuario" />
                            <span class="corner-label">Sesi&oacute;n iniciada como <b>@context.User.Identity.Name</b>. <a class="fw-bolder" href="/logout">Cerrar sesi&oacute;n</a></span>
                        </div>
                    }
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</div>


