@page "/Hora/Confirmado"
@inject NavigationManager Navigation
<PageTitle>Hora Procesada</PageTitle>
<link rel="stylesheet" href="/Estilos/Create.css" />


<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5 class="card-title"><strong>Hora Confirmado Correctamente</strong></h5>
        </div>
        <div class="card-body text-center">
            <p><strong>¡Gracias por Crear su Hora!</strong></p>
            <p>Su Hora se ha guardado correctamente. Puedes Seguir con su Reserva.</p>
        </div>
        <div class="card-footer text-center">
            <a href="/Pasaporte/Create" class="btn btn-secondary text-white bi bi-arrow-90deg-right"> Continuar</a>
        </div>
    </div>
</div>

@code {

}
