@page "/Vuelo/Index"
@rendermode InteractiveServer
@inject ReservaService reservaService
@inject VueloService vueloService
@inject OrigenService origenService
@inject DestinoService destinoService
<link rel="stylesheet" href="/Style/ReserveIndex.css" />

<PageTitle>Reserva Vuelo</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h3><strong>Reservas de Vuelo</strong></h3>

            <!-- Header -->
            <div class="row mb-3 align-items-end">
                <div class="col-md-3">
                    <label for="Filtro" class="form-label"><strong>Filtrar por:</strong></label>
                    <InputSelect id="filtro" class="form-select" @bind-Value="filtro">
                        <option value="" disabled>Seleccionar</option>
                        <option value="ReservaID">Reserva ID</option>
                        <option value=""></option>
                    </InputSelect>
                </div>

                <div class="col-md-6">
                    <label for="ValorFiltro" class="form-label"><strong>Búsqueda:</strong></label>
                    <div class="input-group">
                        <input @bind="ValorFiltro" class="form-control" placeholder="Buscar" />
                        <button @onclick="Buscar" class="btn btn-success" type="button" style="background-color: purple; color: white; border: none;">
                            <span class="bi bi-search"></span> Buscar
                        </button>
                        <a href="/Vuelo/Create" class="btn btn-success bi bi-plus-square ms-2" style="background-color: purple; color: white; border: none;"> Crear vuelo</a>
                    </div>
                </div>
            </div>

            <!-- Body -->
            <div class="table-responsive">
                <table class="table table-light table-bordered">
                    <thead class="table table-striped text-center table-bordered mt-3">
                        <tr>
                            <th>Reserva ID</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Pasajeros</th>
                            <th>Confirmar reserva</th>
                            <th>Editar</th>
                            <th>Detalles</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vuelo in vueloList)
                        {
                            <tr>
                                <td class="text-center">@vuelo.VueloID</td>
                                <td class="text-center">@vuelo.Origen?.origen</td>
                                <td class="text-center">@vuelo?.Destino?.destino</td>
                                <td class="text-center">@vuelo?.NumeroPasajeros</td>
                                <td class="text-center">
                                    <a href="/Reserva/Create/@vuelo?.VueloID" class="btn btn-morado bi bi-check-square" style="background-color: purple; color: white; border: none"></a>
                                </td>
                                <td class="text-center">
                                    <a href="/Vuelo/Edit/@vuelo?.VueloID" class="btn btn-morado bi bi-pencil-square" style="background-color: purple; color: white; border: none"></a>
                                </td>
                                <td class="text-center">
                                    <a href="/Vuelo/Details/@vuelo?.VueloID" class="btn btn-morado bi bi-check-square" style="background-color: purple; color: white; border: none"></a>
                                </td>
                                <td class="text-center">
                                    <a href="/Vuelo/Delete/@vuelo?.VueloID" class="btn btn-outline-morado bi bi-trash" style="background-color: purple; color: white; border: none"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="card-footer">
                    <p><strong>Total de Vuelos creados: </strong>@vueloList?.Count</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    public Vuelo Vuelo { get; set; } = new Vuelo();
    public List<Vuelo> vueloList { get; set; } = new List<Vuelo>();
    public Reserva Reserva { get; set; } = new Reserva();
    public List<Reserva> reservaList { get; set; } = new List<Reserva>();
    public Origen Origen { get; set; } = new Origen();
    public Destino Destino { get; set; } = new Destino();
    public List<Origen> origenLits { get; set; } = new List<Origen>();

    public string filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        reservaList = await reservaService.Listar(o => o.ReservaId > 0);
        vueloList = await vueloService.Listar(v => v.VueloID > 0);
    }

    public void Buscar()
    {
        if (string.IsNullOrEmpty(filtro) || string.IsNullOrEmpty(ValorFiltro))
        {
            return; // Si no hay filtro seleccionado o valor de búsqueda, no hacer nada
        }

        if (filtro == "ReservaID")
        {
            // Filtrar por ReservaID
            vueloList = vueloList.Where(v => v.VueloID.ToString().Contains(ValorFiltro)).ToList();
        }

    }
}
