body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("/ImagenesFondo/AJB737F.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333; /* Color del texto para buen contraste */
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centrado automático con márgenes */
    max-width: 800px; /* Ancho máximo de la tarjeta */
}

.card {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espaciado entre tarjetas */
}

.card-header {
    background-color: #6a1b9a; /* Morado */
    color: white; /* Texto blanco */
    padding: 10px;
    border-radius: 8px 8px 0 0; /* Esquinas redondeadas superiores */
}

.card-body {
    padding: 20px;
}

.card-footer {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 0 0 8px 8px; /* Esquinas redondeadas inferiores */
    text-align: center;
}

.btn-morado {
    background-color: #6a1b9a; /* Color morado */
    border-color: #6a1b9a; /* Borde morado */
    color: white; /* Color del texto */
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px;
}

    .btn-morado:hover {
        background-color: #8e24aa; /* Color morado más claro */
        border-color: #8e24aa;
    }
