@page "/Ticket/Index"
@rendermode InteractiveServer
@inject ReservaService reservaService
@inject AsientoDetalleService asientoDetalleService
@inject ClaseVueloDetalleService claseVueloDetalleService

<link rel="stylesheet" href="/Style/Ticket.css" />

<PageTitle>Reserva Vuelo</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h3><strong>Detalles de la reserva creada</strong></h3>
        </div>
        <div class="card-body">
            @if (Reserva != null)
            {
                <p><strong>Reserva ID:</strong> @Reserva.ReservaId</p>
            }
           
        </div>

        <div class="bordered bordered-success pt-3 mt-3">
            <h5><strong>Detalles de los Asientos:</strong></h5>
            <table class="table table-light table-bordered">
                <thead class="table-striped text-center">
                    <tr>
                        <th>Fila</th>
                        <th>Letra</th>
                    </tr>
                </thead>
                <tbody>
                    @if (AsientoDetalleList != null && AsientoDetalleList.Any())
                    {
                        @foreach (var asientoDetalle in AsientoDetalleList)
                        {
                            <tr>
                                <td>@(asientoDetalle.Asiento?.Fila ?? "No encontrado")</td>
                                <td>@(asientoDetalle.Asiento?.Letra ?? "No encontrado")</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2" class="text-center">No hay asientos disponibles.</td>
                        </tr>
                    }
                </tbody>
            </table>

            <h5><strong>Detalles de la Clase de Vuelo:</strong></h5>
            <table class="table table-light table-bordered">
                <thead class="table-striped text-center">
                    <tr>
                        <th>Clase de Vuelo</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ClaseVueloDetalleList != null && ClaseVueloDetalleList.Any())
                    {
                        @foreach (var claseVueloDetalle in ClaseVueloDetalleList)
                        {
                            <tr>
                                <td>@(claseVueloDetalle.ClaseVuelo?.descripcionClase ?? "No encontrada")</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center">No hay clases disponibles.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter] public int ReservaId { get; set; }
    public Reserva2 Reserva { get; set; } = new Reserva2();
    public List<AsientoDetalle> AsientoDetalleList { get; set; } = new List<AsientoDetalle>();
    public List<ClaseVueloDetalle> ClaseVueloDetalleList { get; set; } = new List<ClaseVueloDetalle>();

    protected override async Task OnInitializedAsync()
    {
        await CargarDetalles();
    }

    private async Task CargarDetalles()
    {
        Reserva = await reservaService.BuscarConDetalle(ReservaId);
        if (Reserva != null)
        {
            AsientoDetalleList = await asientoDetalleService.ListarAsientoDetalle(ReservaId);
            ClaseVueloDetalleList = await claseVueloDetalleService.ListarClaseVueloDetalle(cd => cd.ReservaId == ReservaId);
        }
    }
}
 