@page "/Ticket/Index"
@rendermode InteractiveServer
@inject ReservaService reservaService
@inject AsientoDetalleService asientoDetalleService
@inject ClaseVueloDetalleService claseVueloDetalleService

<link rel="stylesheet" href="/Style/Ticket.css" />

<PageTitle>Reserva Vuelo</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h3><strong>Detalles de la reserva creada</strong></h3>
        </div>
        <div class="card-body">
            <div class="mb-1">
                <p><strong>Reserva ID:</strong> @Reserva?.ReservaId</p>
            </div>
            <div class="mb-1">
                <p><strong>Origen:</strong> @Origen.origen</p>
            </div>
            <div class="mb-1">
                <p><strong>Destino:</strong> @Destino.destino</p>
            </div>
            <div class="mb-1">
                <p><strong>Número de pasajeros:</strong> @Vuelo?.NumeroPasajeros</p>
            </div>
        </div>

        <div class="bordered bordered-success pt-3 mt-3">
            <!-- Tabla para los detalles del asiento -->
            <h5><strong>Detalles de los Asientos:</strong></h5>
            <table class="table table-light table-bordered">
                <thead class="table table-striped text-center">
                    <tr>
                        <th>Asiento</th>
                        <th>Fila</th>
                        <th>Letra</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var asientoDetalle in AsientoDetalleList)
                    {
                        <tr>
                            <td>@asientoDetalle?.Asiento?.Fila - @asientoDetalle?.Asiento?.Letra</td>
                            <td>@asientoDetalle?.Asiento?.Fila</td>
                            <td>@asientoDetalle?.Asiento?.Letra</td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Tabla para los detalles de la clase de vuelo -->
            <h5><strong>Detalles de la Clase de Vuelo:</strong></h5>
            <table class="table table-light table-bordered">
                <thead class="table table-striped text-center">
                    <tr>
                        <th>Clase de Vuelo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claseVueloDetalle in ClaseVueloDetalleList)
                    {
                        <tr>
                            <td>@claseVueloDetalle?.ClaseVuelo?.descripcionClase ?? "No encontrada"</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter] public int ReservaId { get; set; }
    public Reserva Reserva { get; set; } = new Reserva();
    public List<AsientoDetalle> AsientoDetalleList { get; set; } = new List<AsientoDetalle>();
    public List<ClaseVueloDetalle> ClaseVueloDetalleList { get; set; } = new List<ClaseVueloDetalle>();
    public Origen Origen { get; set; } = new Origen();
    public Destino Destino { get; set; } = new Destino();
    public Vuelo Vuelo { get; set; } = new Vuelo();


    protected override async Task OnInitializedAsync()
    {
        await CargarDetalle();
    }

    public async Task CargarDetalle()
    {
        // Buscar detalles de la reserva
        Reserva = await reservaService.BuscarConDetalle(ReservaId);
        if (Reserva != null)
        {
            // Cargar detalles de los asientos
            AsientoDetalleList = await asientoDetalleService.ListarAsientoDetalle(ReservaId);

            // Cargar detalles de la clase de vuelo
            ClaseVueloDetalleList = await asientoDetalleService.ListarClaseVueloDetalles(ReservaId);
        }
    }
}
